dj-database-url==0.4.2
Django==1.11.1
django-appconf==1.0.2
django-braces==1.11.0
django-countries==4.5
django-dropbox==0.0.2
django-jet==1.0.6
django-measurement==2.4.0
django-money==0.10.2
django-registration-redux==1.6
django-storages==1.5.2
django-taggit==0.22.1
django-tinymce==2.6.0
dropbox==7.3.0
google-api-python-client==1.4.1
gunicorn==19.7.1
httplib2==0.10.3
measurement==1.8.0
oauth2client==4.1.0
olefile==0.44
Pillow==4.1.1
py-moneyed==0.7.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pytz==2017.2
requests==2.14.2
rsa==3.4.2
six==1.10.0
sympy==0.7.6.1
uritemplate==3.0.0
urllib3==1.21.1
whitenoise==3.3.0
