{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">{% trans 'Login' %} {% trans 'or' %} <a href="{% url 'registration_register' %}">{% trans 'Sign up' %}</a></h3>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">          
                <div class="container-fluid">
                    <div class="row">
                        <div class="sicon">

                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                                <div class="icon-circle">
                                    <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                                <div class="icon-circle">
                                    <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">{% trans 'or' %}</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">    
                <form class="omb_loginForm" action="" autocomplete="off" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><span class="icon-user"></span></span>
                        <input type="text" class="form-control" name="username" placeholder="{% trans 'Email address' %}">
                    </div>
                    <span class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><span class="icon-key"></span></span>
                        <input  type="password" class="form-control" name="password" placeholder="{% trans 'Password' %}">
                    </div>
                    <span class="help-block" style="display: none">Password error</span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login' %}</button>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <p class="omb_forgotPwd">
                    <a href="{% url 'auth_password_reset' %}">{% trans 'Forgot password?' %}</a>
                </p>
            </div>
        </div>          
    </div>
</div>


<!--<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
    <p>test</p>
</form>

<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
<p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>-->
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
