{% load static %}
{% load i18n %}
{% load admin_urls %}
{% load socialaccount %}
{% providers_media_js %}
<html>
    <head>
        <title>Paris Pet Store</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/backoffice.css' %}">
        <link rel="stylesheet" href="{% static 'css/p_detail.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/rcarousel.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <script type="text/javascript" src="{% static 'js/3rdParty/jquery-1.7.1.min.js' %}"></script>
        <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% endblock %} 
    </head>
    <body>
        <div class="content container">
        <div class="page-header" id="page-header">
            <div class="iconlist">
            <a href="{% url 'get_cart' %}" class="top-menu">
                <span class="icon-cart fs3"><span id="cartcount" class="count {% if cart.count > 0 %}content{% endif%}">{% if cart.count > 0 %}{{ cart.count }}{% endif %}</span></span>
            </a>
            {% if user.is_authenticated %}
                <a href="/accounts/logout/?next=/" class="top-menu"><span class="icon-switch fs3"></span></a>
               {% if user.is_staff or user.is_superuser %}
                    <!--<a href="admin/backoffice/product/" class="top-menu"><span class="icon-table2 fs3"></span></a>-->
                    <a href="{% url 'admin:backoffice_product_changelist' %}" class="top-menu"><span class="icon-table2 fs3"></span></a>
                    {% if "product" not in request.get_full_path %}
                        <a href="{% url 'admin:backoffice_product_add' %}" class="top-menu"><span class="icon-plus fs3"></span></a>
                    {% else %}
                        <a href="{% url 'admin:backoffice_product_change' product.pk %}" class="top-menu"><span class="icon-pencil fs3"></span></a>
                    {% endif %}
                {% endif %}                
            {% else %}
                <a href="/accounts/login/?next=/" class="top-menu"><span class="icon-key fs3"></span></a>
            {% endif %}

            </div>
            <div id="header-search" class="skip-content">
                <form id="search_mini_form" action="" method="GET">
                    <div class="input-box">
                        <!--<label for="search">{% trans "Rechercher" %} :</label>-->
                        <input id="search" type="search" name="qr" value class="input-text-required-entry" maxlength="128" placeholder="{% trans 'Rechercher' %}">
                        <button type="submit" title="{% trans 'Rechercher' %}" class="button search-button">
                    </div>
                </form>
            </div>
            <h1><a href="/">{% trans "Paris Pet Store" %}</a></h1>
        </div>
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}{% endblock footer %}
        <script type="text/javascript" src="{% static 'js/fixscroll.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              /*   $.ajax({
                    type: 'GET',
                    url: "{% url 'api_get_cart_count' %}",
                    dataType: 'json',
                    data: "{}",
                    success: function(data){
                        $("#cartcount").html(data["cartItems"])
                    }
                });*/
            });
        </script>
    </body>
</html>