{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script type="text/javascript" src="{% static 'js/3rdParty/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/3rdParty/jquery.ui.core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/3rdParty/jquery.ui.widget.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/3rdParty/jquery.ui.rcarousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/getCookie.js' %}"></script>

    <div class="product-view">
    	<div class="product-essential">
    		<form action="#" method="POST">
    			<div class="gallery">
    				<div class="image-preview">
						<img id='image-preview' src="#" />
    				</div>    				
    				<div id='carousel' />
						{% for photo in photos %}
							<img id="img-{{ photo.id }}" src="{{ photo.image.url }}" />
						{% endfor %}
    				</div>
    			</div>
    			<div class="product-shop">
    				<div class="product-name">
						<h1>{{ product.ProductName }}</h1>
    				</div>
    				<!--<div class="product-info">
						<div class="short-description">
							{{ product.Description|safe|truncatewords:100 }}
						</div>
    				</div>-->
    				<div class="product-type-data">
					<div class="grouped-items-table-wrapper">
						<table class="data-table grouped-items-table">
							<thread>
								<tr class="first last">
									<th class="name">{% trans "Nom du produit" %}</th>
									<th class="price">{% trans "Prix" %}</th>
									<th class="qty">{% trans "Quantité" %}</th>
								</tr>
								<tbody>
									{% for ref in references %}
										<tr>
											<td class="name">
												<p class="name-wrapper">
													{{ ref.Ref }}
												</p>
											</td>
											<td class="price">
												<span class="price">
													{{ ref.SellPrice }}
												</span>
											</td>
											<td class="qty">
												<div class="qty-wrapper2">
					                                <span class="decrement_qty"></span>
					                                <!--<h4>{{ item.quantity }}</h4>-->
					                                <input type="number" value=0 title="Qté" class="input-text qty" min=0 max=10 data-cart-item-id="{{ ref.id }}">
					                                <span class="increment_qty"></span>
					                            </div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr class="first last">
										<td colspan="3" class="last">
											<div class="add-to-cart-buttons">
												<button id="detail_add_to_cart" type="button" title="Ajouter au panier" class="button btn-cart" data-href="{% url 'api_add_to_cart' %}"><span>{% trans "Ajouter au panier" %}</span></button>
											</div>
										</td>
									</tr>
								</tfoot>
							</thread>
						</table>
					</div>
			    </div>
    			</div>


	       	</form>
	    </div>
	    <div class="clearfix"></div>
	    <div class="product-collateral">
	    	<div class="product-description">
				{{ product.Description|safe }}
	    	</div>
	    </div>
    </div>
	<script type="text/javascript" src="{% static 'js/p_detail.js' %}"></script>
{% endblock %}