{% extends 'backoffice/base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block content %}

<div class="col-left sidebar col-left-first">
    <div class="block block-layered-nav amshopby-overflow-scroll-enabled amshopby-collapse-enabled amshopby-filters-left block-layered-nav amshopby-overflow-scroll-enabled amshopby-collapse-enabled amshopby-filters-left--no-filters">
        <div class="block-title">
            <strong><span>{% trans "Filtres disponibles" %}</span></strong>
        </div>
        <div class="block-content toggle-content">
            <p class="block-subtitle block-subtitle--filter">Filtre</p>
            <form id='SearchForm' method='GET' action='' style="display:none;">
                <input type='text' id='q' name='q' placeholder="q" value='{{ request.GET.q }}' />
                <input type='submit' value='Search' />
            </form>
            <dl id="narrow-by-list">
                <dt>
                    {% trans "Catégorie" %}
                </dt>
                <dd>
                    <ol class="amsopby-flag-clickfirst filter-add">
                        {% for pt in ptypes %}
                            <li data-default-sort="0" data-featured-sort="0" data-text="{{ pt.Type }}" data-filter-dest="q_categorie">
                                <a class="amshopby-attr" rel="nofollow" href="#">{{ pt.Type }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </dd>
                <dt>
                    {% trans "Type de produit" %}
                </dt>
                <dd>
                    <ol class="amsopby-flag-clickfirst filter-add">

                        {% for pt in psubtypes %}
                            <li data-default-sort="0" data-featured-sort="0" data-text="{{ pt.SubType }}" data-filter-dest="q_subtypeproduct">
                                <a class="amshopby-attr" rel="nofollow" href="#">{{ pt.SubType }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </dd>
                <dt>
                    {% trans "Marque" %}
                </dt>
                <dd>
                    <ol class="amsopby-flag-clickfirst filter-add">

                        {% for pb in pbrands %}
                            <li data-default-sort="0" data-featured-sort="0" data-text="{{ pb.Name }}" data-filter-dest="q_brand">
                                <a class="amshopby-attr" rel="nofollow" href="#">{{ pb.Name }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </dd>                
            </dl>
            <button id="resetFilterButton" type="button" title="Réinitialiser les filtres" class="reset-filter-button" style="display:none;"><span>{% trans "Réinitialiser les filtres" %}</span></button>
        </div>
    </div>    
</div>
<div class="col-sm-9 offset-sm-3">
    <div class='row'>
    {% for product in products %}
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <div class="card" >
                <a href="{% url 'p_detail' pk=product.pk %}"></a>
                <div class="card-image">
                    {% if product.MainPhoto is not None %}
                      <img class="card-img-top img-responsive shake" src='{% thumbnail product.MainPhoto.image 250x250  %}' alt="Card image cap">
                    {% endif %}
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ product.ProductName|truncatechars:60 }}</h4>
                    <ul class="list-group-card">
                        <li class="list-group-item-card justify-content-between">
                            {% if product.RefCount > 1 %}{% trans "à partir de" %} {% endif %}{{ product.MainProductReference.SellPrice }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix hidden-sm-up"></div>
    {% cycle "" "" "</div><div class='row'>" %}
    {% endfor %}
    </div>
</div>

{% if products.has_previous or products.has_next %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if products.has_previous == False %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">{% trans "Previous" %}</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1">{% trans "Previous" %}</a>
        </li>    
    {% endif %}
    {% for i in products.paginator.page_range %}
        {% if products.number == i %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">{% trans "Next" %}</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">{% trans "Next" %}</a></li>
    {% endif %}
</nav>
{% endif %}
<script src="{% static 'js/search_filters.js' %}"></script>
<script type="text/javascript">
    $(".card").click(function(event){ $(this).children("a")[0].click();  })
</script>
{% endblock content %}
