.page-header {
    background-color: #354052;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.animal h1 a, .animal h1 a:visited {
    color: #000000;
}

.card-block {
    padding:0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    max-width: 240px;
}

.thumb{
    padding-bottom: 10px;
}

.list-group-item-card{
    position: relative;
    display: block;
    padding: 0px 10px;
    margin-bottom: -1px;
    /* background-color: #fff; */
    border: 0px solid #ddd;
}

.list-group-item-card>.badge {
    float: right;
}

.list-group-card{
    margin:0;
    padding:0;
}

.card-title{
    padding-left: 10px;
    padding-right: 10px
}

.pricetag{
    white-space: nowrap;
    position: relative;
    margin: 0 5px 0 10px;
    display: inline-block;
    height: 25px;
    border-radius: 0 5px 5px 0;
    padding: 0 5px 0 10px;
    background: #E8EDF0;
    border: 0 solid #C7D2D4;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: #999;
    line-height: 23px;
    font-size: small;
}

.sellprice{
    background: #9fffa2;
}

.buyprice{
    background: #ffbe90;
}

.pricetag:before{
    position:absolute;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #333;
    font-size:11px;
    line-height:0px;
    text-indent:12px;
    left:-14px;
    top:-2px;
    width: 1px;
    height:0px;
    border-right:14px solid #E8EDF0;
    border-top:  13px solid transparent;
    border-bottom:  13px solid transparent;
}

.sellprice:before{
    border-right:14px solid #9fffa2;
}

.buyprice:before{
    border-right:14px solid #ffbe90;
}

.alignright{
    float: right;
    position: absolute;
    top: 0px;
    right: 7px;
}

.badge-tag{
    float:none!important;
}

.iconlist{
    float:right;
}

.shake:hover{
    animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: verical-slow;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

@keyframes verical-slow {
  2% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  4% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg); }
  8% {
    transform: translate(0, -1.5px) rotate(-1.5deg); }
  10% {
    transform: translate(0, 2.5px) rotate(1.5deg); }
  12% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  14% {
    transform: translate(0, -1.5px) rotate(1.5deg); }
  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg); }
  18% {
    transform: translate(0, 0.5px) rotate(-1.5deg); }
  20% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg); }
  24% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  26% {
    transform: translate(0, 0.5px) rotate(0.5deg); }
  28% {
    transform: translate(0, 0.5px) rotate(1.5deg); }
  30% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  32% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  34% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  36% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  38% {
    transform: translate(0, 1.5px) rotate(-1.5deg); }
  40% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  42% {
    transform: translate(0, 2.5px) rotate(-1.5deg); }
  44% {
    transform: translate(0, 1.5px) rotate(0.5deg); }
  46% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  48% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  50% {
    transform: translate(0, 0.5px) rotate(0.5deg); }
  52% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  54% {
    transform: translate(0, -1.5px) rotate(1.5deg); }
  56% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  58% {
    transform: translate(0, 0.5px) rotate(2.5deg); }
  60% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  62% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  64% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  66% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  68% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  70% {
    transform: translate(0, 1.5px) rotate(0.5deg); }
  72% {
    transform: translate(0, 2.5px) rotate(1.5deg); }
  74% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  76% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  78% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  80% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  82% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  84% {
    transform: translate(0, 1.5px) rotate(2.5deg); }
  86% {
    transform: translate(0, -1.5px) rotate(-1.5deg); }
  88% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  90% {
    transform: translate(0, 2.5px) rotate(-0.5deg); }
  92% {
    transform: translate(0, 0.5px) rotate(-0.5deg); }
  94% {
    transform: translate(0, 2.5px) rotate(0.5deg); }
  96% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  98% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } 
}


.col-left {
    float: left;
    width: 25%;
    padding-left: 0;
    clear: left;
}

.col-bottom, .col-left, .col-right, .col-main {
    padding: 0 10px;
}

.block, .col-left-first {
    margin-bottom: 20px;
    z-index: 9999;
}

.col-left-first .block:last-of-type {
    margin-bottom: 0;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}

body:not(.customer-account) .block:first-child .block-title {
}

div.block-layered-nav .block-title {
    text-align: left;
    border-top: 0;
}

.block-title {
    position: relative;
}

div.block-layered-nav .block-title strong {
    color: #676767;
    font-size: 18px;
}

.block-title h2, .block-title h3, .block-title strong {
    margin: 0;
    color: #000000;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

div.block-layered-nav p.block-subtitle {
    display: none!important;
}

.block-layered-nav .block-subtitle--filter {
    display: none;
    margin: 0;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-top: 1px solid #b7b7b7;
    position: relative;
    cursor: pointer;
}

.main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dd+dt {
}

div.block-layered-nav.amshopby-collapse-enabled dl dt {
    cursor: pointer;
    padding-left: 30px;
}

.block-layered-nav .block-content > dl > dt {
    margin: 0;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-top: 1px solid #b7b7b7;
    position: relative;
    display: block;
}



.block-layered-nav .block-content > dl > dd {
    padding: 10px;
    margin: 0;
}

.block-layered-nav dl dd {
    margin-bottom: 10px;
    margin-top: 10px;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover, div.block-layered-nav dd a.amshopby-attr-selected, div.block-layered-nav li.amshopby-cat-multi a, div.block-layered-nav li.amshopby-cat-multiselected a {
    padding-left: 20px;
    position: relative;
    text-decoration: none;
}

.block-layered-nav dl dd ol > li > span, .block-layered-nav dl dd ol > li > a {
    padding: 5px 15px;
    display: block;
}


@media only screen and (min-width: 771px){
  .block-layered-nav .block-content > dl > dt {
      padding-left: 10px;
  }
}

