.product-view .block-reinsurance, .product-view .product-shop, .gallery, .product-collateral, .product-view .block-related, .box-collateral {
    margin-bottom: 20px;
}
.gallery {
    padding-right: 15px;
}
.gallery {
    width: 50%;
    float: left;
    position: relative;
}

.image-preview{
	height: 400px;
	width: 400px;
	position: relative;
	margin-left: 0px;
}

.image-preview{
	max-height: 400px;
	max-width: 400px;
}

.wrapper > img{
	cursor: pointer;
}

.product-view .product-shop .product-name .h1, .product-view .product-shop .product-name h1, .product-view .gallery .product-name h1 {
    margin-bottom: 10px;
    border: 0;
    text-transform: none;
}

.product-name h1, .product-name .h1 {
   	font-family: 'Oswald', sans-serif;	
    font-size: 30px;
    color: #000000;
    margin-bottom: 15px;
}

.product-view .block-reinsurance, .product-view .product-shop, .gallery, .product-collateral, .product-view .block-related, .box-collateral {
    margin-bottom: 20px;
}

.product-view .block-reinsurance, .product-view .product-shop {
    width: 50%;
    float: right;
    position: relative;
    padding-left: 15px;
}


.product-view .product-shop .product-info {
    padding-top: 7px;
}

.product-view .product-shop .product-info, .product-view .product-shop .ratings {
    margin-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px 15px;
    font-size: 16px;
}

.product-view .product-shop .short-description {
    margin-bottom: 10px;
    clear: both;
    vertical-align: initial;
    margin-top: 15px;
    font-style: italic;
    font-size: 14px;
}

.clearfix:after, .configurable-swatch-list:after, .product-view .product-options .swatch-attr:after {
    content: '';
    display: table;
    clear: both;
}

.grouped-items-table-wrapper {
    width: 100%;
    margin-bottom: 30px;
    clear: both;
    margin-top: 10px;
}

.data-table {
    width: 100%;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
}

.data-table th {
    background: #f4f4f4;
    font-family: 'Cocon-Regular';
    line-height: 1.4;
    white-space: nowrap;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    vertical-align: top;
}

.grouped-items-table-wrapper tbody td {
    border-bottom: 1px solid #d9d9d9;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
}

.grouped-items-table-wrapper td {
    vertical-align: middle;
}

.grouped-items-table td {
    padding: 10px;
}

.data-table tfoot tr {
    background: #f4f4f4;
}

.grouped-items-table-wrapper tfoot td {
    text-align: right;
}

.data-table tbody td, .data-table tfoot td {
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
}

.product-view .add-to-cart .qty-wrapper, .product-view .product-options-bottom .price-box, .product-view .add-to-cart-buttons {
    min-height: 40px;
}

.product-view .add-to-cart-buttons .button {
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0px 30px;
    min-width: 160px;
    width: 100%;
    white-space: normal;
    max-width: 220px;
    background: #ee1051;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Lato-Regular', Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.product-collateral {
    clear: both;
}

.product-view .block-reinsurance, .product-view .product-shop, .gallery, .product-collateral, .product-view .block-related, .box-collateral {
    margin-bottom: 20px;
}

.product-description{
	display: block;
}

@media only screen and (min-width: 771px){}
	.gallery .product-name {
	    display: none;
	}

	.product-view .product-shop .product-name {
    display: block;
    margin-bottom: 40px;
	}

	.product-collateral {
    background-color: #f4f4f4;
	}

	.product-collateral > .product-description {
    width: 100%;
    padding: 0 50px 50px;
	}
}


