{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}
<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">{% trans 'Login' %} {% trans 'or' %} <a href="{{ signup_url }}">{% trans 'Sign up' %}</a></h3>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">          
                <div class="container-fluid">
                    <div class="row">
                        <div class="sicon">

                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                                <div class="icon-circle">
                                    <a href="../facebook/login/?process=login" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                                <div class="icon-circle">
                                    <a href="../google/login/?process=login" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">{% trans 'or' %}</span>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">    
                <form class="omb_loginForm" action="" autocomplete="off" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><span class="icon-user"></span></span>
                        <input type="text" class="form-control" id="id_login" name="login" placeholder="{% trans 'Email address' %}">
                    </div>
                    <span class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><span class="icon-key"></span></span>
                        <input  type="password" class="form-control" id="id_password" name="password" placeholder="{% trans 'Password' %}">
                    </div>
                    <span class="help-block" style="display: none">Password error</span>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login' %}</button>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <p class="omb_forgotPwd">
                    <a href="{% url 'account_reset_password' %}">{% trans 'Forgot password?' %}</a>
                </p>
            </div>
        </div>   
    </div>
</div>

{% endblock %}
